body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: var(--secondary-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30svw;
    padding: 1rem;
    color: white;
}
.container h2 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -1px;
}

.container input {
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    width: 100%;
}

.container input[type="submit"] {
    padding: 10px;
    background-color: var(--secondary-color);
    border: 1px solid white;
    color: white;
    margin-top: 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    margin: 2rem 0 1rem 0;
}

.container label {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0.2rem;
}

.container .links {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
        width: 6rem;
        padding: 0.5rem;
        text-align: center;
        text-align: center;
        background-color: white;
        color: var(--primary-color);
        border-radius: 5px;
        adding: 1rem;
        border-radius: 0.3em;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: 0.5s;
        font-weight: 400;
        font-size: 0.8rem;
        font-family: inherit;
        text-transform: uppercase;
        z-index: 1;
    }

    a::before {
        top: -1em;
        left: -1em;
    }

    a::after {
        left: calc(100% + 1em);
        top: calc(100% + 1em);
    }

    a:hover::before,
    a:hover::after {
        height: 410px;
        width: 410px;
    }

    a:hover {
        color: white;
    }

    a:active {
        filter: brightness(0.8);
    }

    a::before,
    a::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        transform: translate(-50%, -50%);
        position: absolute;
        border-radius: 50%;

        z-index: -1;
        background-color: var(--primary-color);
        transition: 1s ease;
    }
}

.content {
    display: flex;

    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

    .content-items {
        display: flex;
        flex-direction: column;
    }
}
